.grid {
    background-color: rgb(255, 134, 134);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20;
}

.item {
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 20px;
    position: relative;
}

.item:hover {
    transform: translate(-5%, -5%);
    transition-delay: 100ms;
    transition-duration: 1000ms;
    opacity: 0.75;
}

.item h3 {
    position: relative;
    color: rgb(0, 4, 255);
}



body {
    background-color: rgb(255, 134, 134);;
}